#LoginPage {
	width: 100%;
	height: 100%;

	margin-top: -9.3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.LoginText {
	margin-bottom: 45px;
	display: flex;
	flex-direction: column;
}

.LoginContainer {
	display: flex;
}

.InputEmail,
.InputPassword {
	width: 435px;
	height: 40px;
	margin-bottom: 15px;

	padding-left: 15px;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
}

.InputSubmit {
	width: 455px;
	height: 43px;
	margin-bottom: 50px;

	border: none;
	background-color: #57ecbf;
	color: white;
	border-radius: 5px;
}

.InputSubmit:disabled {
	background-color: #2d2d2d;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}

.HelpContainer {
	display: flex;
	flex-direction: row;
}

.Join a,
.DividingLine,
.FindPassword a {
	text-decoration: none;
	color: #aaaaaa;
	font-size: 15px;
	font-weight: 100;
}

.DividingLine,
.FindPassword a {
	margin-left: 15px;
}
