#LoginPage {
	width: 100%;
	height: 100%;
	margin-top: 10%;

	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.LoginText {
	margin-bottom: 45px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.LoginContainer {
	display: flex;
	margin-left: calc(50% - 227px);
}

.InputEmail,
.InputPassword {
	width: 435px;
	height: 40px;
	margin-bottom: 15px;

	padding-left: 15px;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
}

.InputSubmit {
	width: 455px;
	height: 43px;
	margin-bottom: 50px;

	border: none;
	background-color: #57ecbf;
	color: white;
	border-radius: 5px;
}

.InputSubmit:disabled {
	background-color: #2d2d2d;
	color: white;
}

.HelpContainer {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 50%;
	margin-left: -90px;
}

.Join a,
.DividingLine,
.FindPassword a {
	text-decoration: none;
	color: #aaaaaa;
	font-size: 15px;
	font-weight: 200;
}

.DividingLine,
.FindPassword a {
	margin-left: 15px;
}
