/* 최상위 컨테이너 */
#LoginPage {
	width: 100%;
	height: 100%;

	/* navbar 높이만큼 줄임 */
	margin-top: -9.3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* 로그인 */
.LoginText {
	margin-bottom: 45px;
	display: flex;
	flex-direction: column;
}

/* input, button 부분 컨테이너 */
.LoginContainer {
	display: flex;
}

/* e-mail, password */
.InputEmail,
.InputPassword {
	width: 435px;
	height: 40px;
	margin-bottom: 15px;

	padding-left: 15px;
	border: 1px solid #bcbcbc;
	border-radius: 5px;

	outline: 0;
}

/* LOGIN 제출 버튼 */
.InputSubmit {
	width: 455px;
	height: 43px;
	margin-bottom: 50px;

	border: none;
	outline: 0;
	background-color: #57ecbf;
	color: white;
	border-radius: 5px;
}

/* LOGIN 제출 버튼 비활성화 시 */
.InputSubmit:disabled {
	background-color: #2d2d2d;
	color: white;
	font-weight: bolder;
	cursor: pointer;
}

/* 회원가입, |, 비밀번호 찾기 부분 컨테이너*/
.HelpContainer {
	display: flex;
	flex-direction: row;
}

/* 회원가입 | 비밀번호 찾기*/
.Join a,
.DividingLine,
.FindPassword a {
	text-decoration: none;
	color: #aaaaaa;
	font-size: 15px;
	font-weight: 100;
}

/* 회원가입과 비밀번호 찾기 사이, | 앞뒤로의 간격 */
.DividingLine,
.FindPassword a {
	margin-left: 15px;
}
