/* Main Container */
.FeedContainer {
  height: 90.7%;
  font-size: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* media query 모바일 세로 */
@media (max-width:480px){
  .FeedContainer {
    height: 100%;
  }
}
