/* Main Post List Container */
.FeedPostsContainer {
  /* 위 | 오른쪽 | 아래 | 왼쪽 */
  padding: 100px 130px 220px 130px;
}

/* 개발, 디자인, 글 작성 버튼 컨테이너 */
.FeedButtons {
  display: flex;
  justify-content: space-between;
}

/* 개발, 디자인 버튼 */
.PostsCategory > button {
  width: 120px;
  height: 55px;

  border-radius: 28px;
  border: solid 2px #cecece;

  background-color: transparent;
  color: #cecece;
  font-weight: bold;
  font-size: 2.4em;

  cursor: pointer;
}

/* 개발, 디자인 버튼 hover */
.PostsCategory > button:hover {
  background-color: #ececec;
  border: solid 2px #ececec;
  color: #000000;
}

/* 개발 버튼 */
.PostsCategory > button:first-child {
  margin-right: 20px;
}

/* 개발 or 디자인 중 선택된 메뉴 */
.ActivePostsCategory {
  border: solid 2px #2d2d2d !important;
  background-color: #2d2d2d !important;
  color: white !important;
}

/* 글 작성, 새로고침 */
.PostsRightButtons {
  display: flex;
  align-items: center;
}

/* 글 작성 버튼 */
.ButtonWritePost {
  width: 157px;
  height: 60px;

  border-radius: 67px;
  border: solid 3px #57ecbf;

  background-color: transparent;
  color: #57ecbf;
  font-weight: bold;
  font-size: 2.4em;

  cursor: pointer;
}
/* + 이미지 */
.ButtonWritePost > img {
  margin-right: 20px;
}

/* 새로고침 버튼 */
.ButtonRefresh {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  opacity: 0.6;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.ButtonRefresh > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ButtonRefresh:hover {
  opacity: 0.3;
}
.ButtonRefresh:disabled {
  cursor: default;
  opacity: 0.3;
}

/* Post 피드 컴포넌트들 컨테이너 */
.PostsPostContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
  row-gap: 72px;
  margin-top: 80px;
  margin-bottom: 100px;
}

@media (max-width: 1900px) {
  .PostsPostContainer {
    grid-template-columns: repeat(auto-fill, minmax(391px, auto));
  }
}

/* media query 모바일 세로 */
@media (max-width:480px){
  /* Main Post List Container */
  .FeedPostsContainer {
    /* 위 | 오른쪽 | 아래 | 왼쪽 */
    padding: 40px 10px 100px 10px;
  }

  /* 개발, 디자인 버튼 */
  .PostsCategory > button {
    width: 80px;
    height: 40px;
    border-radius: 24px;
    font-size: 1.8em;
  }

  /* 개발 버튼 */
  .PostsCategory > button:first-child {
    margin-right: 12px;
  }

  /* 글 작성 버튼 */
  .ButtonWritePost {
    width: 120px;
    height: 40px;

    border-radius: 60px;
    font-size: 2em;

    padding-left: 5px;
    padding-right: 5px;
  }
  /* + 이미지 */
  .ButtonWritePost > img {
    height: 16px;
    margin-right: 5px;
  }

  /* Post 피드 컴포넌트들 컨테이너 */
  .PostsPostContainer {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 32px;
    row-gap: 72px;
    margin-top: 80px;
    margin-bottom: 100px;
  }

}
