/* 컨테이너 */
.NonePostsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 180px;
  padding-bottom: 80px;
}

/* 빈 폴더 아이콘 */
.NonePostsContainer img {
  margin-bottom: 80px;
}

/* 없다는 설명 글 */
.NonePostsContainer span {
  font-size: 3.1em;
  font-weight: bold;
  color: #2d2d2d;
  line-height: 1.45;
  text-align: center;
}

/* 글 작성하기 버튼 */
.NonePostsContainer a {
  width: 209px;
  height: 60px;
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: solid 2px #2ddca7;

  color: #2ddca7;
  font-weight: bold;
  font-size: 1.8em;
  text-decoration: none;
}

/* (juhyun-noh) 모바일용 미디어쿼리 */
@media (max-width: 480px) {
  /* 컨테이너 */
  .NonePostsContainer {
    padding-top: 145px;
    padding-bottom: 45px;
  }

  /* 빈 폴더 아이콘 */
  .NonePostsContainer img {
    width: 100px;
    margin-bottom: 40px;
  }

  /* 없다는 설명 글 */
  .NonePostsContainer span {
    font-size: 2em;
    line-height: 1.45;
  }

  /* 글 작성하기 버튼 */
  .NonePostsContainer a {
    width: 180px;
    height: 60px;
    margin-top: 60px;

    font-size: 1.6em;
  }
}
