/* 버튼 컨테이너 */
.PostsNav {
  font-size: 10px;
  margin-top: 90px;
  margin-bottom: 60px;
}

/* 첫 번째 버튼 */
.PostsNav > button:first-child {
  margin-right: 16px;
}

/* 지원목록, 내 게시물 기본 디자인 */
.ButtonPostsNav {
  width: 120px;
  height: 48px;

  border-radius: 28px;

  border: solid 2px #cecece;

  background-color: white;
  color: #cecece;

  font-size: 2em;
  font-weight: bold;

  cursor: pointer;
  outline: none;
}
.UnactiveButtonPostsNav:hover {
  background-color: #cecece;
  color: #2d2d2d;
}

/* 선택 되었을 때 */
.ActiveButtonPostsNav {
  width: 120px;
  height: 48px;

  border-radius: 28px;
  border: solid 2px #2d2d2d;

  background-color: #2d2d2d;
  color: white;

  cursor: default;
}

/* (juhyun-noh) 모바일용 미디어쿼리 */
@media only screen and (max-width: 480px) {
  /* 버튼 컨테이너 */
  .PostsNav {
    font-size: 8px;
  }

  /* 지원목록, 내 게시물 기본 디자인 */
  .ButtonPostsNav {
    width: 100px;
    height: 48px;
  }

  /* 첫 번째 버튼 */
  .PostsNav > button:first-child {
    margin-left: 10px;
  }

  /* 선택 되었을 때 */
  .ActiveButtonPostsNav {
    width: 100px;
    height: 48px;
  }
}
