/* 오른쪽 상단 로그인 or 알림창 & 프로필 */
#AuthMenu {
  width: 116px;
  margin-right: 6.8%;

  display: flex;
  justify-content: flex-end;
}
/* 로그인 */
#AuthMenu a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: bold;
}

/* Notification & Profile Image */
.RightMenuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
}

.RightButton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  cursor: pointer;

  background-color: transparent;
}
.RightButton:focus {
  outline: none;
}

/* Notification */
.NotificationContainer {
}
/* Notification Button */
.NotificationButton {
  width: 30px;
  height: 32px;
}

/* Profile Image Button */
.ProfileButton {
  width: 42px;
  height: 42px;
}
.ProfileButton img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Profile Dropdown (mypage, logout) */
.ProfileDropdown {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  z-index: 1;

  /* dropdown width - profile image */
  margin-left: -198px;
  margin-top: 20px;

  width: 240px;
  height: 150px;

  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);

  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: all 0.4s ease;
}

.OpeningDropdown {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

/* list container */
.ProfileDropdown li {
  list-style: none;

  width: 100%;
  height: 100%;
}

/* button */
.ProfileDropdown a {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding-left: 32px;

  display: flex;
  align-items: center;
}

/* logout button */
.ProfileDropdown li:last-child a {
  color: #ff6565 !important;
}

/* grey line */
.ProfileDropdown .divider {
  height: 0;
  border: solid 1px #ececec;
}
