/* Noto Sans Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.navigation {
  height: 9.3vh;
  width: 100%;
  padding: 0 6.8%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
}

.defaultMenu {
  width: 22.3vw;
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  margin: 0;
  padding: 0;

  width: 9.2vw;
  min-width: 100px;

  display: flex;
  justify-content: space-between;
}
.list li {
  list-style: none;
}
.list a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: bold;
}

.login {
  color: #2d2d2d;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navigation {
    font-size: 10px;
  }
  .navigation a img {
    width: 80px;
    margin-top: 7px;
  }
  .defaultMenu {
    min-width: 200px;
  }
  .list {
    margin-top: 5px;
    min-width: 80px;
    font-size: 1.6em;
  }
}
