/* 알림 컨테이너 */
.NotiContainer {
  display: block;
  padding-top: 14px;
  padding-right: 1px;

  margin-bottom: 10px;

  margin-left: -30px;
  padding-left: 30px;
}

/* 확인 안 한 알림 */
.NotiNotChecked {
  border-left: solid 2px #57ecbf;
  padding-right: 0px;
}

/* Bottom border */
.NotiDivider {
  border-bottom: solid 1px #e2e2e2;
  margin-top: 24px;
}

/* 알림 제공자 & 분류, 포스트 제목 & 날짜 */
.NotiTopContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;

  font-weight: 500;
}

/* 알림 제공자 & 분류, 포스트 제목 */
.NotiLeftContainer {
  display: flex;
  align-items: center;
}

/* 알림 제공자 이름 */
span.NotiProvider {
  font-size: 0.9rem;
  color: #656565;
  font-weight: bold;
  margin-right: 10px;
}

/* 분류, 포스트 제목 */
span.NotiDesc {
  color: #7d7d7d;
}

/* 알림이 발생한 날짜 */
span.NotiTime {
  color: #a5a5a5;
}

/* --- */
/* 본문 내용 */
span.NotiContent {
  color: #bcbcbc;
  font-weight: normal;
}
