.userMenu {
  width: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.notification button {
  width: 30px;
  height: 32px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: none;
  cursor: pointer;

  background-color: transparent;
}
.profile > button {
  width: 42px;
  height: 42px;
}
.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* profile dropdown */
.profile ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  top: 0;
  z-index: 1;

  /* dropdown width - profile image */
  margin-left: -198px;
  margin-top: 62px;

  width: 240px;
  height: 150px;

  background-color: white;
  border: 1px solid #ececec;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);

  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: all 0.4s ease;
}

ul.opening {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.profile li {
  list-style: none;

  width: 100%;
  height: 100%;
}

.profile a,
.profile li button {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding-left: 32px;

  display: flex;
  align-items: center;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;

  color: #2d2d2d;
  font-weight: bold;
  font-size: 1.3rem;
}

/* logout button */
.profile button {
  color: #ff6565 !important;
}

.divider {
  height: 0;
  border: solid 1px #ececec;
}

@media (min-width: 320px) and (max-width: 480px) {
  .userMenu {
    font-size: 10px;
    width: 90px;
  }

  .notification button {
    width: 26px;
    height: 28px;
  }
  .notification img {
    width: 100%;
    height: 100%;
  }

  .profile ul button,
  .profile ul a {
    font-size: 1.6em;
  }

  .profile button {
    width: 30px;
    height: 30px;
  }

  .profile ul {
    /* -dropdown width + profile image */
    margin-left: calc(-180px + 30px);
    margin-top: 60px;

    width: 180px;
    height: 130px;
  }
}
