/* Noto Sans Web Font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

html,
body,
#root {
  margin: 0;
  overflow: auto;
}

#Container {
  height: 90.7vh;
  width: 100%;

  font-family: "Noto Sans KR", sans-serif;
}
