body {
  font-size: 9pt;
}

h1 {
  margin-bottom: 5%;
}

/* 마이페이지 컨테이너 */
.MypageContainer {
  width: 100vw;
  height: 90.7vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 마이페이지 배너 */
.MypageBanner {
  width: 100vw;
  height: 300px;
}
.MypageBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 왼쪽 프로필 & 게시글 */
.MypageContents {
  width: 100%;
  display: grid;
  grid-template-columns: 36% auto;
}
