body {
  font-size: 9pt;
}

h1 {
  margin-bottom: 5%;
}

/* 전체 컨테이너 */
.Container {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
}

#topBanner {
  display: flex;
  width: 100%;
  height: 20%;
  position: relative;
}

#profile {
  width: 40%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -8vh;
}
.box {
  width: 20vh;
  height: 20vh;
  border-radius: 70%;
  overflow: hidden;
  text-align: center;
  margin: 0% auto;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userInfo1 {
  text-align: center;
  padding: 0% 24% 0% 24%;
}
.userInfo2 {
  padding: 0% 24% 0% 24%;
}
.hr {
  color: #ddd;
  width: 60%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.level {
  line-height: 0;
}
.font {
  display: inline-block;
  color: gray;
  float: right;
}

#myPost {
  display: flex;
  width: 60%;
  height: 100%;
  float: right;
}
.btn {
  width: 90px;
  height: 5%;
  margin-left: 5%;
  margin-top: 2%;
  border: 2px solid black;
  cursor: pointer;
}
.btn:focus {
  outline: none;
  background-color: black;
  color: white;
}
.apply {
  background-color: white;
  color: #ddd;
  border-color: #ddd;
  border-radius: 1000px;
}
.post {
  background-color: white;
  color: #ddd;
  border-color: #ddd;
  border-radius: 1000px;
}
