body {
  font-size: 9pt;
}

h1 {
  margin-bottom: 5%;
}

/* 전체 컨테이너 */
.Container {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
}

#topBanner {
  display: flex;
  width: 100%;
  height: 20%;
  position: relative;
}

#profile {
  width: 40%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -8vh;
}
.box {
  width: 20vh;
  height: 20vh;
  border-radius: 70%;
  overflow: hidden;
  text-align: center;
  margin: 0% auto;
  position: relative;
}
.profileEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userInfo1 {
  text-align: center;
  padding: 0% 24% 0% 24%;
  align-items: center;
  justify-content: center;
}
.hr {
  color: #ddd;
  width: 60%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.userInfo2 {
  padding: 0% 30% 0% 30%;
}
.level {
  line-height: 0;
}
.font {
  display: inline-block;
  color: gray;
  float: right;
}
.divEdit {
  display: flex;
  justify-content: center;
}
.edit {
  width: 60px;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
  border-color: #ddd;
  border-radius: 1000px;
  margin: 0 auto;
  margin-top: 8%;
  font-size: x-small;
  font-weight: bold;
}
.edit:focus {
  outline: none;
}

#myPost {
  background-color: white;
  color: #ddd;
  border-color: #ddd;
  border-radius: 1000px;
}

.bottom {
  float: right;
  text-align: center;
}
.name {
  width: 200px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.field {
  width: 200px;
  text-align: center;
}
.intro {
  width: 200px;
  text-align: center;
  resize: none;
}
