/* 게시글 + 페이지네이션 컨테이너 */
.MyPostsContainer {
  margin-right: 130px;
  margin-bottom: 86px;
}

/* 게시글들 컨테이너 */
.MypagePostsPostContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 50px;
  margin-bottom: 100px;
}

/* 타인 프로필일 때 */
.MyPostsMargin {
  margin-top: 100px;
}

@media (max-width: 1900px) {
  .MypagePostsPostContainer {
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  }
}

/* (juhyun-noh) 모바일용 미디어쿼리 */
@media only screen and (max-width: 480px) {
  /* 게시글 + 페이지네이션 컨테이너 */
  .MyPostsContainer {
    margin: 10vh 10vh 10vh 10vh;
  }

  /* 게시글들 컨테이너 */
  .MypagePostsPostContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
