#defaultBtn {
  width: "90px";
  height: "40px";
  margin-left: "1%";
  margin-top: "2%";
  border: "2px solid #ddd";
  cursor: "pointer";
  border-radius: "1000px";
  background-color: "white";
  color: "#ddd";
}
#selectBtn {
  background-color: "black";
  color: "white";
  border-radius: "1000px";
  border-color: "black";
  width: "90px";
  height: "40px";
  margin-left: "1%";
  margin-top: "2%";
  cursor: "pointer";
}
