/* Landing Page Duzzle Container */
.LandingDuzzle {
  width: 100%;
  height: 100%;

  margin-left: 6.8%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  padding-bottom: 11.8vh;

  position: relative;
}

/* 더 즐겁게, ~ 하라 */
.MainText {
  margin: 0;

  display: flex;
  flex-direction: column;

  font-size: 6rem;
  font-weight: 900;
}

/* puzzle gif */
.PuzzleGif {
  position: absolute;
  z-index: -1;
  right: 0;
}

.PuzzleGif img {
  width: 50vw;
}

/* SNS Link */
.SNSContainer {
  display: flex;

  position: absolute;
  bottom: 9.3vh;

  font-size: 1.1rem;
  font-weight: bold;
}
/* text link */
.SNSContainer a {
  text-decoration: none;
  color: #2d2d2d;
  margin-right: 18px;
}
/* text link & arrow image */
.Instagram,
.Facebook {
  display: flex;
  align-items: center;
  margin-right: 3.6vw;
}

/* 더 즐겁게, TOGETHER 하라 */
.Together {
  color: #00f5b7;
}

/* ~와 하라 사이 마진 */
.Text2 {
  margin-right: 10px;
}

/* 더 즐겁게, 와 ~ 하라 간격 줄이기 */
.Text2Container {
  margin-top: -20px;
}

/* Scroll container */
.ScrollContainer {
  position: absolute;
  bottom: 9.3vh;
  right: 40%;

  font-size: 1.1rem;

  /* 위아래 움직이는 효과 */
  animation: motion 0.5s linear 0s infinite alternate;
}
@keyframes motion {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 10px;
  }
}
.ScrollContainer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ScrollText {
  color: #ececec;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* container */
  .LandingDuzzle {
    font-size: 10px;
    flex-direction: column-reverse;
  }
  .PuzzleGif {
    margin-top: -25vh;
    margin-left: -6.8%;
    position: static;
  }
  .PuzzleGif img {
    width: 100vw;
  }
  /* 더 즐겁게, */
  .MainText {
    font-size: 4em;
  }
  /* 간격 */
  .Text2Container {
    margin-top: 0px;
  }
  .SNSContainer {
    font-size: 1.2em;
    font-weight: bold;
  }
  .SNSContainer img {
    width: 8px;
  }
  .SNSContainer a {
    margin-right: 10px;
  }
  .Instagram {
    margin-right: 10vw;
  }

  /* Scroll container */
  .ScrollContainer {
    left: 32vh;
    font-size: 1rem;
  }
  .ScrollContainer img {
    display: block;
    margin-left: 10px;
  }
}
