/* 위즐, 미즐 설명 텍스트 컨테이너 */
.LandingTextContainer {
  display: flex;
  flex-direction: column;
  /* use em */
  font-size: 10px;
}

/* icon */
.LandingTextContainer > img {
  width: 50px;
  height: auto;
  object-fit: contain;
}

/* title */
.LandingTextTitle {
  margin: 0;
  color: #2d2d2d;
}
/* title1 */
h1.LandingTextTitle {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 5.2em;
  font-weight: bold;
}
/* title2 */
h2.LandingTextTitle {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 2.8em;
  font-weight: bold;
}

/* description */
.LandingTextDescription {
  font-size: 2.4em;
  color: #2d2d2d;
  line-height: 1.67;
  margin: 0;
}
.LandingTextDescription > span {
  display: block;
}
.LandingTextAccent + span {
  display: inline;
}

/* 위즐, 미즐 */
span.LandingTextAccent {
  display: inline;
  font-weight: bold;
}
span.LandingTextAccent[data-color="blue"] {
  color: #0043ff;
}
span.LandingTextAccent[data-color="orange"] {
  color: #ff5200;
}

@media (min-width: 320px) and (max-width: 480px) {
  .LandingTextContainer {
    width: 90%;
  }

  /* icon */
  .LandingTextContainer > img {
    width: 30px;
  }

  /* title1 */
  h1.LandingTextTitle {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 2.4em;
  }
  /* title2 */
  h2.LandingTextTitle {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 1.8em;
  }

  /* description */
  .LandingTextDescription {
    font-size: 1.2em;
  }

  .LandingTextDescription > span {
    display: inline;
    margin-right: 4px;
  }
}
