span.LandingTextAccent[data-color="blue"] {
  --accent-color: #0043ff;
}

span.LandingTextAccent[data-color="orange"] {
  --accent-color: #ff5200;
}

/* 위즐, 미즐 설명 텍스트 컨테이너 */
.LandingTextContainer {
  display: flex;
  flex-direction: column;
  /* use em */
  font-size: 10px;
}

/* icon */
.LandingTextContainer > img {
  width: 50px;
  height: auto;
  object-fit: contain;
}

/* title */
.LandingTextTitle {
  margin: 0;
  color: #2d2d2d;
}
/* title1 */
h1.LandingTextTitle {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: 5.2em;
  font-weight: bold;
}
/* title2 */
h2.LandingTextTitle {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 2.8em;
  font-weight: bold;
}

/* description */
.LandingTextDescription {
  font-size: 2.4em;
  color: #2d2d2d;
  line-height: 1.67;
}

/* 위즐, 미즐 */
.LandingTextAccent {
  font-weight: bold;
  color: val(--accent-color);
}
