.LandingWezzleMezzle {
  width: 100vw;
  height: 100vh;
  padding: 0 130px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LandingWezzle {
  background-color: #f9f9f9;
}

@media (min-width: 320px) and (max-width: 480px) {
  .LandingWezzleMezzle {
    padding: 6.8%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
