/* 글 보기 전체 컨테이너 */
.PostPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;
}

/* 글 영역 */
.PostContainer {
  width: 64.6%;
}

/* 글쓴이, 게시글 정보 */
.PostTopContents {
  width: 100%;
  height: 166px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 1px #d2d2d2;
}

/* 글쓴이 프로필 사진, 이름, 게시 날짜 */
.PostUser {
  display: flex;
  align-items: center;
}
/* 글쓴이 프로필 사진 */
.PostUser > img {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
/* 글쓴이 이름, 게시 날짜 */
.PostUserText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-left: 32px;
}
/* 이름 */
.PostUserText > span.PostUserName {
  color: #4b4b4b;
  font-weight: bold;
  font-size: 1.5rem;
}
/* 게시날짜 */
.PostUserText > span {
  color: #656565;
  font-weight: 500;
  font-size: 1.2rem;
}

/* 좋아요, 댓글 */
ul.PostInfo {
  margin: 0;
  padding: 0;
  display: flex;
}
/* 좋아요, 댓글 글씨 및 요소 하나 컨테이너 */
ul.PostInfo > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;

  color: #a2a2a2;
  font-size: 1rem;
  font-weight: 500;
}
/* 좋아요, 댓글 숫자 */
ul.PostInfo span.PostInfoData {
  color: #656565;
  font-size: 1.5rem;
}

/* 실제 본문 내용들 */
.PostMainContents {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 90px;
  padding-bottom: 110px;

  border-bottom: solid 1px #d2d2d2;
}

/* 제목, 수정, 삭제 */
.PostTitleContainer {
  display: flex;
  justify-content: space-between;

  margin-left: 4.2vw;
  margin-right: 4.2vw;
}
/* 제목 */
.PostTitleContainer > span.PostTitle {
  color: #4b4b4b;
  font-weight: bold;
  font-size: 1.75rem;
}
/* 글 수정, 삭제 버튼 */
.PostTitleContainer .PostControl button {
  width: 104px;
  height: 46px;
  border-radius: 23px;
  border: none;
  box-shadow: 0 1px 6px 0 rgba(112, 112, 112, 0.24);
  background-color: #ffffff;
  margin-left: 24px;

  color: #707070;
  font-weight: bold;
  font-size: 1.1rem;

  cursor: pointer;
  outline: none;
}

/* 실제 본문 글 */
span.PostMainText {
  display: block;

  margin-top: 64px;
  margin-bottom: 60px;
  margin-left: 4.2vw;
  margin-right: 4.2vw;

  color: #4b4b4b;
  font-weight: bold;
  font-size: 1.25rem;
}

/* 글 이미지 */
.PostContentsImage {
  width: 80%;
  align-self: center;

  margin-bottom: 80px;
}

/* 좋아요, 공유 버튼 */
.PostLikeShareContainer {
  display: flex;
  align-self: center;
}
.PostLikeShareContainer > button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  padding: 15px 20px;

  border-radius: 30px;
  border: solid 1px #bcbcbc;
  background-color: white;

  color: #adadad;
  font-weight: 500;
  font-size: 1.25rem;

  cursor: pointer;
  outline: none;
}
.PostLikeShareContainer > button:first-child {
  margin-right: 70px;
}
.PostLikeShareContainer > button > img {
  margin-right: 10px;
}

/* 댓글 영역 */
.CommentsContainer {
  width: 64.6%;
  margin-top: 20px;
}
