.ConfirmContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ConfirmContainer h1 {
  color: #2d2d2d;
  font-size: 1.9rem;
  font-weight: bold;

  margin-top: 5.6vh;
  margin-bottom: 21px;
}

.ConfirmContainer span {
  text-align: center;
  color: #2d2d2d;
  font-size: 1.1rem;
}

.ConfirmContainer a {
  width: 209px;
  height: 60px;
  margin-top: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: solid 2px #2ddca7;

  text-decoration: none;
  color: #2ddca7;
  font-size: 1.1rem;
  font-weight: bold;
}
