.write-container__main * {
  box-sizing: border-box;
}

/* main container */
.write-container__main {
  padding: 90px 22vw;
  font-size: 10px;
}

.write-form {
  position: relative;
}

/* warning */
.write__text--warning {
  display: flex;
  align-items: center;

  color: #ff6565;
  font-size: 1.2em;

  margin: 0;
  position: absolute;
  right: 0;
  top: calc(-12px - 18px);
}
.write__text--warning img {
  margin-right: 8px;
}

/* title box */
.write-form__section--title {
  display: flex;
  justify-content: space-between;

  padding-bottom: 30px;
  border-bottom: solid 1px #cecece;
}
/* title input */
.write-form__section--title > input[type="text"] {
  font-size: 2.8em;
  font-weight: bold;
  color: #2d2d2d;
  padding: 2px 0;
  border: none;
  outline: none;
}
.write-form__section--title > input[type="text"]::placeholder {
  color: #cecece;
}
/* submit button */
.write-form__section--title > button[type="submit"] {
  width: 100px;
  height: 44px;

  font-size: 2em;
  color: white;
  font-weight: bold;

  background-color: #57ecbf;
  border: none;
  border-radius: 28px;
  box-shadow: 0 1px 6px 0 rgba(112, 112, 112, 0.24);

  cursor: pointer;
}
.write-form__section--title > button[type="submit"]:disabled {
  background-color: #cecece;
  box-shadow: none;
  cursor: default;
}

/* contents */
.write-form__section--contents {
  margin-bottom: 90px;
}

/* 사진 추가 */
.write-form__button--images {
  text-align: end;
  margin-top: 28px;
  margin-bottom: 42px;
}
.write-form__button--images > label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  font-size: 1.8em;
  font-weight: bold;
  color: #585858;
  text-decoration: underline;
}
.write-form__button--images > label > img {
  margin-right: 14px;
}
.write-form__button--images > input[type="file"] {
  display: none;
}

/* 본문 */
.write-form__textarea {
  width: 100%;

  font-size: 2em;
  line-height: 1.45;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;

  border: none;
  resize: none;
  outline: none;
}
.write-form__textarea::placeholder {
  color: #cecece;
}

/* images */
.write-form__section--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* 100vw - 44vw / 2 */
  height: calc((100vw - 22vw * 2) / 2 - 5px);
}

.image-preview__button--show {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  position: relative;

  width: calc(50% - 5px);
  height: 100%;
  margin-bottom: 10px;
}

.image-preview__button--show > .write-form__image--preview {
  width: 100%;
}

.write-form__image--preview {
  height: 100%;
  width: calc(50% - 5px);
  object-fit: cover;
  border: 1px solid #cecece;
}

.image-preview__button--cancel {
  position: absolute;
  right: 20px;
  top: 20px;

  background: none;
  border: none;
  padding: 0;

  cursor: pointer;
}

/* (juhyun-noh) 모바일용 미디어쿼리 */
@media (max-width: 480px) {
  /* main container */
  .write-container__main {
    padding: 8vh 5vh 0 5vh;
    font-size: 8px;
  }

  /* warning */
  .write__text--warning {
    left: 0;
    top: calc(-12px - 18px - 5px);
  }

  /* submit button */
  .write-form__section--title > button[type="submit"] {
    position: absolute;
    left: 0;
    bottom: calc(-40px - 5vh);
    width: 100%;
    height: 40px;
    font-size: 2em;
  }

  /* title box */
  .write-form__section--title {
    display: block;
    padding-bottom: 10px;
  }

  /* images */
  .write-form__section--images {
    /* display: inline-block; */
    margin-bottom: 15vh;
  }
}
