.ButtonSharePost {
  margin-right: 10px;
}

.ButtonSharePost:hover {
  background-color: #57ecbf;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #57ecbf;
  color: white;
}

@media (max-width:480px){
  .ButtonSharePost {
    margin-right: 0px;
  }
}
