/* 뒤 포커스 아웃 */
#PopupContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  z-index: 1;

  font-size: 10px;
  background-color: rgba(45, 45, 45, 0.2);
}

.Deactive {
  display: none !important;
}

/* 메인 컨텐츠 */
.PopupCard {
  width: 43.6%;
  height: 77.6%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 6.5vh 3.6vw;
  box-sizing: border-box;

  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

/* title, exit button */
.TopContents {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TopContents h3 {
  font-size: 2.4em;
  margin: 0;
}

.PopupDescription {
  font-size: 1.8em;
}

/* 캔슬 버튼 */
.ExitButton {
  background: none;
  border: none;
  cursor: pointer;
}

/* 개인정보취급방침 텍스트 */
/* 스크롤 컨테이너 */
.AgreeTextContainer {
  width: 100%;
  height: 75%;
  overflow: auto;

  border-radius: 8px;
  border: solid 1px #bcbcbc;

  padding: 20px 28px;
  box-sizing: border-box;
}

.AgreeTextContainer::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
.AgreeTextContainer::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 6px;
}
.AgreeTextContainer::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 6px;
}

.AgreeText {
  white-space: pre;
  color: #2d2d2d;
  font-size: 1.6em;
  font-weight: normal;
}
