/* 전체 컨테이너 */
.RegisterContainer {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
}

/* 카드 영역 */
.CardContainer {
  width: 66.3vw;
  height: 70vh;

  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;

  display: flex;
}

/* 왼쪽 영역 */
.Description {
  width: 33.8%;

  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;

  position: relative;
}

/* 왼쪽 영역 텍스트들 */
.TextContainer {
  /* 퍼즐 이미지보다 앞에 나오도록 */
  z-index: 1;

  font-size: 1rem;
  line-height: 1.37;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 18.6%;
  margin-left: 13.9%;
}

/* 더즐과 함께 더 즐겨보세요! */
.Accent {
  font-size: 2.1rem;
  font-weight: 900;
  margin-bottom: 25px;
  line-height: 1.3;
}

/* 퍼즐 이미지 */
.Puzzle {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 오른쪽 영역 */
.SignUpContainer {
  width: 66.2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 회원가입 form */
.SignUpForm {
  width: 66.5%;
  height: 72.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 회원가입 */
.SignUpForm h1 {
  font-size: 1.9rem;
  margin: 0;
}

/* 이메일, 비밀번호, 비밀번호 확인 */
.SignUpForm > label:nth-child(-n + 4) {
  width: 100%;

  justify-content: space-between;

  font-size: 1.3rem;
  color: #707070;
}

.SignUpForm > label > div {
  width: 71.4%;
}

/* 이메일, 비밀번호, 비밀번호 확인 컨테이너 */
.SignUpForm label {
  display: flex;
  align-items: center;
}

/* 이메일, 비밀번호, 비밀번호 확인, submit button */
.RegisterInput {
  height: 5.55vh;
  width: 100%;

  padding-left: 24px;
  border-radius: 8px;
  border: solid 1px #bcbcbc;

  font-size: 1.1rem;
  color: #2d2d2d;

  padding-top: 4px;
  box-sizing: border-box;
}

.RegisterInput::placeholder {
  color: #bcbcbc;
  font-size: 1rem;
}

/* 경고 문구 */
.WarningContainer {
  display: none;
}
.WarningContainer img {
  margin-right: 8px;
}
.WarningContainer span {
  color: #ff6565;
  font-size: 0.7rem;
}

.ShowWarning {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* 개인정보 수집 및 이용 동의 체크박스 */
.AgreeContainer {
  display: flex;
  align-items: center;
}

.AgreeLink {
  padding: 0;

  color: #707070;
  font-size: 1rem;

  background-color: transparent;
  border: none;

  cursor: pointer;
  text-decoration: underline;

  outline: none;
}

input[id="agree"] + label {
  display: inline-block;

  width: 18px !important;
  height: 18px;

  margin: 0;
  margin-right: 12px;
  margin-top: 4px;

  border-radius: 4px;
  border: solid 1px #707070;

  box-sizing: border-box;

  cursor: pointer;
}
input[id="agree"]:checked + label {
  /* background-image: url("/images/checkbox.png"); */
  background-repeat: no-repeat;

  border: none;
}
input[id="agree"] {
  display: none;
}

/* Button JOIN */
.RegisterSubmit {
  padding: 0;
  width: 71.4%;

  background-color: #57ecbf;
  border: none;

  font-size: 1.1rem;
  color: white;
  font-weight: 900;

  cursor: pointer;
}

.RegisterSubmit:disabled {
  background-color: #2d2d2d;
  cursor: default;
}

.RegisterSubmit:focus {
  outline: none;
}

@media (max-width: 480px) {
  .RegisterContainer {
    overflow-y: auto;
  }

  /* 카드 영역 */
  .CardContainer {
    width: 75vw;
    height: 650px;
    flex-direction: column;
    font-size: 10px;
  }

  /* 왼쪽 영역 */
  .Description {
    width: 100%;
  }

  /* 왼쪽 영역 텍스트들 */
  .TextContainer {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  /* 더즐과 함께 더 즐겨보세요! */
  .Accent {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  /* 퍼즐 이미지 */
  .Puzzle {
    display: none;
  }

  /* 오른쪽 영역 */
  .SignUpContainer {
    width: 100%;
    height: 100%;
  }

  /* 회원가입 form */
  .SignUpForm {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* 회원가입 */
  .SignUpForm h1 {
    font-size: 1.6em;
  }

  /* 이메일, 비밀번호, 비밀번호 확인 */
  .SignUpForm > label:nth-child(-n + 4) {
    width: 100%;
    flex-direction: column;

    font-size: 1.4em;
    margin-top: 10px;
  }

  .SignUpForm > label > div {
    margin-top: 5px;
    width: 100%;
  }

  /* 이메일, 비밀번호, 비밀번호 확인, submit button */
  .RegisterInput {
    height: 45px;
    padding-left: 15px;
    font-size: 12px;
  }

  .RegisterInput::placeholder {
    font-size: 12px;
  }

  /* 경고 문구 */
  .WarningContainer img {
    width: 13px;
  }

  /* 개인정보 수집 및 이용 동의 체크박스 */
  .AgreeContainer {
    margin-top: 10px;
  }
  .AgreeLink {
    font-size: 14px;
  }

  /* Button JOIN */
  .RegisterSubmit {
    width: 100%;
    height: 35px;
    margin-top: 15px;

    font-size: 14px;
    font-weight: bold;
  }
}
