/* 전체 컨테이너 */
.RegisterContainer {
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
}

/* 카드 영역 */
.CardContainer {
  width: 66.3vw;
  height: 70vh;

  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;

  display: flex;
}

/* 왼쪽 영역 */
.Description {
  width: 33.8%;

  background-color: #f9f9f9;

  display: flex;
  flex-direction: column;

  position: relative;
}

/* 왼쪽 영역 텍스트들 */
.TextContainer {
  /* 퍼즐 이미지보다 앞에 나오도록 */
  z-index: 1;

  font-size: 1rem;
  line-height: 1.37;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 18.6%;
  margin-left: 13.9%;
}

/* 더즐과 함께 더 즐겨보세요! */
.Accent {
  font-size: 2.1rem;
  font-weight: 900;
  margin-bottom: 25px;
  line-height: 1.3;
}

/* 퍼즐 이미지 */
.Puzzle {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 오른쪽 영역 */
.SignUpContainer {
  width: 66.2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 회원가입 form */
.SignUpForm {
  width: 66.5%;
  height: 72.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 회원가입 */
.SignUpForm h1 {
  font-size: 1.9rem;
  margin: 0;
}

/* 이메일, 비밀번호, 비밀번호 확인 */
.SignUpForm label:nth-child(-n + 4) {
  width: 100%;

  justify-content: space-between;

  font-size: 1.3rem;
  color: #707070;
}

/* 이메일, 비밀번호, 비밀번호 확인 컨테이너 */
.SignUpForm label {
  display: flex;
  align-items: center;
}

/* 이메일, 비밀번호, 비밀번호 확인, submit button */
.RegisterInput {
  height: 5.55vh;
  width: 71.4%;

  padding-left: 24px;
  border-radius: 8px;
  border: solid 1px #bcbcbc;

  font-size: 1.1rem;
  color: #2d2d2d;

  padding-top: 4px;
  box-sizing: border-box;
}

.RegisterInput::placeholder {
  color: #bcbcbc;
  font-size: 1rem;
}

/* 개인정보 수집 및 이용 동의 체크박스 */
.AgreeContainer {
  display: flex;
  align-items: center;
}

.AgreeLink {
  padding: 0;

  color: #707070;
  font-size: 1rem;

  background-color: transparent;
  border: none;

  cursor: pointer;
  text-decoration: underline;

  outline: none;
}

input[id="agree"] + label {
  display: inline-block;

  width: 18px !important;
  height: 18px;

  margin: 0;
  margin-right: 12px;
  margin-top: 4px;

  border-radius: 4px;
  border: solid 1px #707070;

  box-sizing: border-box;

  cursor: pointer;
}
input[id="agree"]:checked + label {
  background-image: url("http://localhost:3000/images/checkbox.png");
  background-repeat: no-repeat;

  border: none;
}
input[id="agree"] {
  display: none;
}

/* Button JOIN */
.RegisterSubmit {
  padding: 0;

  background-color: #57ecbf;
  border: none;

  font-size: 1.1rem;
  color: white;
  font-weight: 900;
}

.RegisterSubmit:disabled {
  background-color: #2d2d2d;
}

.RegisterSubmit:focus {
  outline: none;
}
